@import (less) "bootstrap/less/bootstrap.less";

@search-page-color: #474544;
@font-grey-color: #555e5e;
@font-red-color: #e51c23;
@font-black-color: #333333;
@font-orange-color: #FF7400;
@font-green-color: #259b24;
@font-gold-color: #FFD700;
@border-grey-color: #b3b3b3;
@win-color: #a3cfec;
@lose-color: #e2b6b3;

.search-wrap {
  padding: 28px;
  background-color: #808080;
}

.search-container {
  padding: 100px;
  background-color: @search-page-color;
}

.profile-section {
  //padding: 30px 15px;
  background-color: inherit;
}

.header-section {
  background-color: #F3F5F7;
}

.board-section {
  background-color: #FFFFFF;
}

.profile-icon {

}

.profile-info {

}

.profile-info-name {
  font-size: 20px
}

.react-tabs [role=tablist] {
    margin: 0px;
}

.react-tabs [role=tabpanel] {
  background-color: #FFFFFF;
  padding-top: 20px;
}

.griddle {
  th{
    background-color:#EDEDEF;
    border:0px;
    border-bottom:1px solid #DDD;
    color:#222;
    padding:5px 5px 5px 5px;
    width: 120px;
  }

  td{
    padding:5px 5px 5px 5px;
    background-color:#FFF;
    border-top-color:#DDD;
    color:#222;
    width: 140px;
  }

  .griddle-previous, .griddle .griddle-page, .griddle .griddle-next {
    float:left;
    width:33%;
    min-height:1px;
    margin-top:5px;
  }

  .griddle-page {
    text-align:center;
  }

  .griddle-next {
    text-align:right;
  }
}

.champion-column-icon {
  width: 32px;
  height: 32px;
}

.match-win {
  background-color: @win-color;
}

.match-lose{
  background-color: @lose-color;
}

.match-champion-icon {
  width: 60px;
  height: 60px;
}

.match-champion-name {
  font-weight: bold;
  font-size: 14px;
  padding: 10px 0px 0px 0px;
}

.match-spell-icon {
  width: 28px;
  height: 28px;
  margin: 1px;
}

.match-kills-stats {
  font-weight: bold;
  font-size: 20px;
}

.match-kda {
  font-size: 14px;
}

.match-kda-number {
  font-weight: bold;
  color: @font-black-color;
}

.match-gold {
  color: @font-gold-color;
}

.match-items {
  padding-right: 0px;
}

.match-item-icon {
  width: 28px;
  height: 28px;
  margin: 1px;
}

.match-player-icon {
  width: 20px;
  height: 20px;
}

.match-players {
  padding-left: 40px;
}

.match-trinket {
  padding-left: 0px;
}

.font-red-color {
  color: @font-red-color;
}

.font-grey-color {
  color: @font-grey-color;
}

.font-black-color {
  color: @font-black-color;
}

.font-orange-color {
  color: @font-orange-color;
}

.panel {
  border-color: @border-grey-color;
}

.panel-heading-name {
  font-size: 16px;
  font-weight: bold;
}
.panel-default > .panel-heading {
  border-color: @border-grey-color;
  background-color: inherit;
}

.font-green-color {
  color: @font-green-color;
}

