@import (less) "bootstrap/less/bootstrap.less";

@search-page-color: #474544;

.search-wrap {
  padding: 28px;
  background-color: #808080;
}

.search-container {
  padding: 100px;
  background-color: @search-page-color;
}

.profile-section {
  //padding: 30px 15px;
  //background-color: lightgrey;
}

.profile-icon {

}

.profile-info {

}

.profile-info-name {
  font-size: 20px
}

.griddle {
  th{
    background-color:#EDEDEF;
    border:0px;
    border-bottom:1px solid #DDD;
    color:#222;
    padding:5px 5px 5px 5px;
    width: 120px;
  }

  td{
    padding:5px 5px 5px 5px;
    background-color:#FFF;
    border-top-color:#DDD;
    color:#222;
    width: 140px;
  }

  .griddle-previous, .griddle .griddle-page, .griddle .griddle-next{
    float:left;
    width:33%;
    min-height:1px;
    margin-top:5px;
  }

  .griddle-page{
    text-align:center;
  }

  .griddle-next{
    text-align:right;
  }
}


.champion-column-icon{
  width: 32px;
  height: 32px;
}